html{
    margin: 0;
    padding: 0;
}

body{
    margin: 50px;
    padding: 50px;
    background-color: rgb(1, 95, 133);
    color: white;
    transition: .5s;
}

input[type="checkbox"]{
    position: relative;
    width: 40px;
    height: 20px;
    appearance: none;
    background-color: rgb(2, 63, 87);
    outline: none;
    border-radius: 10px;
    transition: .5s ease;
    cursor:pointer;
}

input[type="checkbox"]:checked{
    background-color: skyblue; 
    
}

input[type="checkbox"]::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: .5s ease;
}

input[type="checkbox"]:checked::before{
    transform: translateX(20px);
}

.dark{
    background-color: darkcyan;
    color: white;
}

nav ul{
    flex: 1;
    text-align: right;
}

.navbar{
    height: 100vh;
    width: 100%;
    background: white;
    font-family: sans-serif;
    position: relative;   
}

nav{
    width: 100%;
    margin: auto;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 150px;
    cursor: pointer;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px;   
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: chocolate;
}

.contents{
    position: fixed;
    top: 350px;
    left: 400px;
    margin: 30px;
    padding: 20px;
    text-align: left;
    font-family: serif;
    width: 50%;
    height: 20px;
    margin-top: -100px;
}

.contents-lightstick{
    float: left;
    margin-right: 0px;
}

.contents-lightstick p{
    font-size: 25px;
    margin-top: 20px;
}

.header{
    text-align: left;
    position: relative;
    margin-left: 60%;
    margin-top: -200px;
    transform: translate(-50% ,-50%);
}

.header h1{
    font-size: 70px;
    color: black;
    margin-bottom: 20px;
}

header span{
    color: white;
}

.header h2{
    color: black;
    line-height: 22px;
}

.header a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin: 30px 0px;
    border-radius: 5px;  
}

.about{
    height: 500px;
    margin-top: 100px;
    margin-left: 20%;
}

.about-title {
    border-bottom: 3px solid black;
    font-size: 25px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    color: black;
}

.foto{
    margin-top: 20px;
    margin-right: 1050px;
    float: right;
}

.informasi {
    position: absolute;
    color: black;
    font-size: 25px;
    font-weight: sans-serif;
    float: center;
    margin-left: 300px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.container-img{
    font-size: 20px;
    color: black;
}

.container {
    float : left;
    margin-right: 50px;
    margin-left: 20px;
}

.container p {
    font-size: 20px;
    margin-top: 15px;
    color: black;
}

.footer{
    background-color: sienna;
    color: #fff;
    position: fixed;
    top: 80px;
    left: 500px;
    margin: 80px;
    text-align: fixed;
    font-family: serif;
    width: 20%;
    height: 540px;
    margin-top: 550px;
    height: 15px;
    padding: 10px;
}

.footer-logo{
    font-size: 15px;
    float: left;
}

.footer-list{
    float: right;
}

.footer-list li{
    padding-bottom: 20px;
}